
a {
    color: $red;
    text-decoration: $link-decoration;
    background-color: transparent; // Remove the gray background on active links in IE 10.
    
    @include hover() {
        color: $pink;
        text-decoration: $link-hover-decoration;
    }
}
