{% extends 'base.html.twig' %}

{% block title %}Hello World {% endblock %}

{% block body %}

    <div class="o-wrapper">
        <div class="o-layout">
Hello World !!
        </div>
    </div>
{% endblock %}
